.bundle
.DS_Store
.kitchen
.kitchen.*.yml
.tmpatlas/
.vagrant
*.box
*.swp
*.variables.json
/packer-*/
/builds/*
!/builds/.gitkeep
box/
crash.log
Gemfile.lock
iso
Makefile.local
output-virtualbox-iso/*
output-*
packer_cache
packer.log
tmp
virtualfloppy.vfd
